.card {
  background-color: rgb(255, 188, 100);
  clip-path: circle(15px at 18px 360px);
  padding: 30px 32px;
  transition: all ease-in-out 0.4s;
  top:30px;
  width: 390px;
  height: 380px;
}

.card-icon {
  pointer-events: all !important;
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: bold;
  opacity: 1;
  position: absolute;
  top: 342px;
  left: 6.8px;
  transition: opacity ease-in-out 0.3s;
}
.card-title {
  color: black;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: "Oswald", Helvetica, sans-serif;
  transform: skewY(-1deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: -1px -1px 0 firebrick, -2px -2px 0 firebrick,
    -1px 1px 2px dimgrey;
}
.card:hover {
  border-radius: 12px;
  cursor: pointer;
  clip-path: circle(100%);
}

.card:hover .card-icon {
  opacity: 0;

}
